<!DOCTYPE html>
<head>
    <title>Detalji psa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stil.css') }}">
</head>
<body>
    <h1>Detalji psa</h1>


    <p><strong>Ime:</strong> {{ pas.ime }}</p>
    <p><strong>Pasmina:</strong> {{ pas.pasmina }}</p>
    <p><strong>Spol:</strong> {{ pas.spol }}</p>
    <p><strong>Starost:</strong> {{ pas.starost }}</p>
    <p><strong>Datum prijema:</strong> {{ pas.datum_prijema }}</p>
    <p><strong>Status udomljenja:</strong> {{ pas.status_udomljenja }}</p>
    <p><strong>Opis:</strong> {{ pas.opis }}</p>

    <a href="/pregled-pasa">Povratak na pregled pasa</a>
</body>
</html>