<!DOCTYPE html>

<head>
    <title>Pregled pasa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stil.css') }}">
</head>
<body>
    <h1>Pregled pasa</h1>

    <hr>

    <a href="/pas/dodaj">Dodaj novog psa</a>

    {% if psi %}
        <table border="1" cellpadding="8">
            <tr>


                <th>Ime</th>
                <th>Pasmina</th>
                <th>Spol</th>
                <th>Starost</th>
                <th>Status udomljenja</th>
                <th>Detalji</th>
                <th>Uredi</th>
                <th>Brisanje</th>
            </tr>

            {% for pas in psi %}
            <tr>


                <td>{{ pas.ime }}</td>
                <td>{{ pas.pasmina }}</td>
                <td>{{ pas.spol }}</td>
                <td>{{ pas.starost }}</td>
                <td>{{ pas.status_udomljenja }}</td>
                <td>
                <a href="/pas/{{ pas.id }}">Detalji</a>
                </td>
                <td>
                    <a href="/pas/{{ pas.id }}/uredi">Uredi</a>
                </td>
                <td>
                    <form method="POST" action="/pas/{{ pas.id }}/obrisi">
                        <button type="submit">Obriši</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Nema unesenih pasa.</p>
    {% endif %}
</body>
</html>